/* LINKING FILES TO SASS CODE ELEMENTS */
* {
  box-sizing: border-box; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px; }

h1 {
  font-family: 'Roboto', sans-serif; }

body {
  background: #f7e3e5; }

header {
  height: 66px;
  font-size: 20px;
  font-weight: bold; }

.container {
  height: 65px; }

ul {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    ul {
      display: none; } }

li {
  list-style: none; }

a {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-transform: uppercase;
  height: 66px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: black; }
  a:hover {
    background: grey;
    text-decoration: none;
    color: white; }

.logo {
  width: 100px;
  color: black;
  margin-right: auto; }

span {
  margin-left: 10px;
  white-space: nowrap;
  text-transform: uppercase; }

.hamburger-icon {
  display: none;
  background: transparent;
  border: none; }
  @media (max-width: 600px) {
    .hamburger-icon {
      display: inline-block; } }

.hero {
  padding: 20px;
  height: 600px;
  background-image: linear-gradient(-170deg, rgba(221, 207, 207, 0) 30%, rgba(0, 0, 0, 0.993)), url("../img/Group2-img-1.jpg");
  background-size: cover;
  background-position: 50% 40%; }

.container {
  height: 550px;
  display: flex;
  align-items: flex-end; }

button {
  color: white;
  background: #bb4848;
  border: none;
  font-size: 20px;
  font-family: "p-font",sans-serif; }

h1 {
  font-size: 50px;
  color: white; }

p {
  font-family: "p-font",sans-serif;
  font-size: 20px;
  color: white; }


.hero-content {
  width: 60%; }

.content {
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper {
  justify-content: space-around;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; }

footer {
  background: #345473;
  width: 100%;
  padding: 60px 0px;
  /*display: flex;*/ }

.footer-link {
  display: inline-block;
  /* justify-content: space-around; */ }

footer h2 {
  color: #082541;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 20px 0; }

footer ul {
  margin: 0 0 30px 0;
  padding: 0; }

footer li {
  list-style: none;
  margin-top: 8px; }

footer a {
  color: black;
  text-decoration: none;
  font-size: 27px;
  font-weight: 300; }

.social-icons :hover {
  opacity: 1.0; }

.social-icons li {
  flex: 1; }

