.about {
    padding: 50px 0;
    .wrapper {
        max-width: 700px;
    }
    hr {
        border-color: black;
    }
}

.bio-card {
    display: flex;
    margin: 80px 0;
}
.bio-pic-container{
    margin-left:20px;
}

.pic-1 {
    background-image:
    url('../img/b.jpg');
    background-size:cover;
    background-position:50% 70%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-right: 40px;
}
.pic-2{
    background-image:
    url('../img/l.jpg');
    background-size:cover;
    background-position:20% 70%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-right: 40px;
}
.pic-3{
    background-image:
    url('../img/j.jpg');
    background-size:cover;
    background-position:50% 70%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-right: 40px;
}
.pic-4{
    background-image:
    url('../img/s.jpg');
    background-size:cover;
    background-position:50% 70%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-right: 40px;
}
