header {
    height: 66px;
    font-size:20px;
    font-weight:bold;

    }.container{
        height:65px;

    } ul {
        margin-bottom:0;
        display:flex;
        justify-content: space-between;
        @media (max-width:600px) {
        display:none; 
        } 

    } li {
        list-style:none;

    } a {
        display:flex;
        flex-direction:row;
        width: 100%;
        text-transform:uppercase;
        height:66px;
        padding:0 10px;
        display: flex;
        align-items:center;
        color: black;

     &:hover {
        background:grey;
        text-decoration:none;
        color: white;
            
    
    }
}

.logo{
    width:100px;
    color: black;
    margin-right:auto;
} span {
    margin-left:10px;
    white-space:nowrap;
    text-transform:uppercase;
    
}

.hamburger-icon{
    display:none;
    background:transparent;
    border:none;
    @media (max-width:600px) {
        display:inline-block;
    }
} 
