.hero {
    padding:20px;
    height: 600px;
    background-image:
        linear-gradient(
            -170deg,
            rgba(221, 207, 207, 0) 30%,
            rgba(0, 0, 0, 0.993)), 
            url('./img/Group2-img-1.jpg');
    background-size:cover;
    background-position:50% 40%;
    } .container {
    height:550px;
    display:flex;
    align-items:flex-end;
    } button {
    $white;
    background:rgb(187, 72, 72);
    border:none;
    font-size:20px;
    font-family:"p-font",sans-serif;
    } h1 {
    font-size:50px;
    $white;
    } p {
    font-family:"p-font",sans-serif;
    font-size:20px;
    $white;
    }
}

.hero-content{
    width:60%;
}




