/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}
  
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}
  
h1 {
    font-family: 'Roboto', sans-serif;
}

body{
    background:#f7e3e5;
}

/* * * * * * * * * * * * * * * * * * * * *
Headers
* * * * * * * * * * * * * * * * * * * * */

header {
    height: 66px;
    font-size:20px;
    font-weight:bold;
}

header <.container{
    height:65px;
}

.logo{
    width:100px;
    color:black;
    margin-right:auto;
}

.logo span{
    margin-left:10px;
    white-space:nowrap;
    text-transform:uppercase;
}

header ul{
    margin-bottom:0;
    display:flex;
    justify-content: space-between;
}

header ul li{
    list-style:none;
}

header ul li a{
    display:flex;
    flex-direction:row;
    width: 100%;
    text-transform:uppercase;
    height:66px;
    padding:0 10px;
    display: flex;
    align-items:center;
    color:black;
}

ul li a:hover{
    background:grey;
    text-decoration:none;
    color:white;
}

.hamburger-icon{
    display:none;
    background:transparent;
    border:none;
}
@media (max-width:600px) {
    header ul{
        display:none;
    }
    .hamburger-icon{
        display:block;
    }
} 
/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */
.hero {
    /* color:white; */
    padding:20px;
    height: 600px;
    background-image:
        linear-gradient(
            -170deg,
            rgba(221, 207, 207, 0) 30%,
            rgba(0, 0, 0, 0.993)), 
            url('./img/Group2-img-1.jpg');
    background-size:cover;
    background-position:50% 40%;
}

.hero .container{
    height:550px;
    /* padding:25px; */
    display:flex;
    align-items:flex-end;
}

.hero-content{
    width:60%;
}

h1{
    font-size:50px;
    color:white;
}

.hero button{
    color:white;
    background:rgb(187, 72, 72);
    border:none;
    font-size:20px;
    font-family:"p-font",sans-serif;
}

p{
    font-family:"p-font",sans-serif;
    font-size:20px;
    color:white;
}
